table.unstyledTable {
    width: 200%;
    height: 300px;
    text-align: left;
}

    table.unstyledTable td, table.unstyledTable th {
    }

    table.unstyledTable thead {
        background: #DDDDDD;
    }

        table.unstyledTable thead th {
            font-weight: normal;
        }

    table.unstyledTable tfoot {
        font-weight: bold;
    }
