{% extends "layout.html" %}

{% block content %}
<div style="background-color:transparent " class="jumbotron">
    <h4>

       

    </h4>


</div>



<div class="row">
    <div class="col-md-4">
        
        <h3>
            <strong>
                

                    I am an AI mentor.<r />
                    I am under development, designed to help students to discover their hidden potential.
            </strong>
        </h3>


        <p><a href="https://scsstcd.qualtrics.com/jfe/form/SV_4N1Nm0P2sR88O1L" class="btn btn-primary btn-large">Sign in &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <div id="robot-full">
            <div id="robot">
                <img src="https://res.cloudinary.com/dgciq7owv/image/upload/v1570021968/logobot-new-noshadow2_hne5jt" alt="Robot holding a pen tablet" width="300px" />
                <div class="eyes-wrapper">
                    <div class="eye eye-left">
                    </div>
                    <div class="eye eye-right">
                    </div>
                </div>
            </div>
            <div id="robot-shadow">
            </div>



            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>








            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>



        </div>
    




    {% endblock %}
